/* Header */
header {
  background: linear-gradient(#343f7b, #11258e);
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

nav ul li {
  text-align: center;
  padding: 5px;
  list-style-type: none;
}
nav ul li a {
  color: white;
  font-size: 1.2rem;
}
nav {
  display: none;
  animation-duration: 0.5s;
  animation-name: test;
}
@keyframes test {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

/* Footer */
.footer_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #343f7b;
  color: white;
  padding: 10px 0px;
}
footer a {
  color: white;
  text-decoration: underline;
  padding: 5px;
}
h4 {
  font-size: 1.2rem;
}

@media screen and (min-width: 1100px) {
  .fa-bars {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: block;
    padding: 20px 50px 0px 0px;
    margin-top: 80px;
  }
  nav ul li {
    display: flex;
    display: inline;
    justify-content: space-around;
  }
  nav ul li a {
    font-size: 1.5rem;
    padding: 20px;
  }
  @keyframes test {
  }
  .logo {
    display: inline;
    width: 200px;
    margin-right: 100%;
    padding: 10px;
  }
}
