* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: muli, sans-serif;
}
@font-face {
  font-family: muli;
  src: url(/fonts/Mulish-VariableFont_wght.ttf);
}
main {
  padding: 10px;
}
ul li a {
  text-decoration: none;
}

h1 {
  text-align: center;
}
.info_price {
  text-align: center;
}

.container_img {
  max-width: 500px;
  margin: 10px auto;
  display: block;
}
main img {
  width: 100%;
  height: auto;
}
button {
  padding: 6px;
  font-size: 1rem;
  background-color: #132791;
  border-style: none;
  border-radius: 5px;
  color: white;
}
.btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.popup {
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 20vh;
  width: 50vh;
  border-width: 1px;
  border-radius: 20px;
}
.flex {
  display: flex;
}
h2 {
  margin-top: 10px;
}

.complete {
  color: white;
  text-decoration: none;
  background-color: #132791;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.continue {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
