* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: muli, sans-serif;
}
@font-face {
  font-family: muli;
  src: url(/fonts/Mulish-VariableFont_wght.ttf);
}

body {
  background-color: #f1f3ff;
}

/* Main */
/* Sale */
h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.weekly_sale {
  background-color: #1b203d;
  padding: 0px 20px;
}

.weekly_sale_item {
  /* min-width: 150px; */
  width: 150px;
}
.sale_img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 7px #1b203d;
}
.flex {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.sale_text {
  color: white;
  text-align: center;
}
.cta_mobile {
  color: white;
  text-align: center;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.old_price {
  text-decoration: line-through;
  font-style: normal;
}
.new_price {
  color: red;
  font-style: normal;
}

.sale_background {
  box-shadow: 4px 4px 7px #111227;
}

/* Trending */

h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.black {
  color: black;
  margin-top: 5px;
}
a {
  color: black;
  text-decoration: none;
}
.trending_container {
  margin: 0px 20px;
  border-bottom: #707070;
  border-bottom-style: solid;
  border-width: 1px;
}
.trending_games {
  display: flex;
  gap: 10px;
}
.info_text {
  margin: 10px 0px;
  font-size: 1.2rem;
}

/* Browse */

.browse_container {
  margin: 10px 20px;
}
h3 {
  text-align: center;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn {
  padding: 0px 5px;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  border-radius: 7px;
  border-width: 0.2px;
}
.more_filters {
  background: none;
  border: none;
  color: #11258e;
}
.browse_search {
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
}

.browse_games {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 20px;
}
.mobile_span3 {
  grid-column: span 3;
  border-bottom: #707070;
  border-bottom-style: solid;
  border-width: 1px;
}
.test {
  margin-bottom: 5px;
}
