* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: muli, sans-serif;
}
@font-face {
  font-family: muli;
  src: url(/fonts/Mulish-VariableFont_wght.ttf);
}

/* Main */
/* Sale */
h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.h1 {
  flex-basis: 100%;
}
.weekly_sale {
  background-color: #1b203d;
  padding: 0px 20px;
  
}

.weekly_sale_item {
  width: 150px;
}
.sale_img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 7px #1b203d;
}
.flex {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.sale_text {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}
.cta_mobile {
  flex-basis: 100%;
  color: white;
  text-align: center;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.old_price {
  text-decoration: line-through;
  font-style: normal;
}
.new_price {
  color: red;
  font-style: normal;
}

.sale_background {
  box-shadow: 4px 4px 7px #111227;
}
.mobile_hidden {
  display: none;
}
.price {
  font-weight: 600;
}


/* Trending */

h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.black {
  color: black;
  margin-top: 5px;
}
a {
  color: black;
  text-decoration: none;
}
.trending_container {
  margin: 0px 20px;
  border-bottom: #707070;
  border-bottom-style: solid;
  border-width: 1px;
}
.trending_games {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.info_text {
  margin: 10px 0px;
  font-size: 1.2rem;
}
.background_img {
  min-width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* Browse */

.mobile_hidden_btn {
  display: none;
}

/* .browse_container {
  margin: 10px 20px;
} */
h3 {
  text-align: center;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn {
  padding: 0px 5px;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  border-radius: 7px;
  border-width: 0.2px;
}
button:hover {
  transform: translate(-2px, -2px);
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
}
.more_filters {
  background: none;
  border: none;
  color: #11258e;
}
.browse_search {
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
}

/* .browse_games {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
} */

.browse_games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}


.test {
  margin-bottom: 5px;
}

.browse_background_img {
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.browse_border {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-color: #1b203d;
  border-radius: 10px;
  width: 210px;
}

.game_info {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
.game_name_price {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fa-brands {
  color: white;
}


@media screen and (min-width: 700px) {
  .weekly_sale_item {
    width: 300px;
  }
  p,
  .info_text,
  .browse_search {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 800px) {

  .mobile_hidden_btn {
    display: inline;
  }
  .more_filters {
    display: none;
  }

}

@media screen and (min-width: 1200px) {
  .browse_games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .mobile_span3 {
    grid-column: span 1;
  }
  .trending_container,
  .browse_container {
    margin:0px 200px;
  }
}
@media screen and (min-width: 1400px) {
  .trending_games {
  justify-content: center;
  gap: 30px;
  }
  .info_text {
    text-align: center;
  }
  .browse_background_img {
    width: auto;
    height: 300px;
  }
  .browse_border {
    width: auto;
  }


}


@media screen and (min-width: 1480px) {
  .weekly_sale {
    margin: 0px 100px;
  }

  .weekly_sale {
    margin-top: 10px;
    border-radius: 7px;
  }
  .mobile_hidden {
    display: block;
  }
  .flex {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 0px;
    justify-items: center;
  }
  .sale_img {
    width: 100%;
  }
  .h1 {
    grid-column-start: 2;
    grid-column-end: 14;
  }
  .cta_mobile {
    grid-column-start: 2;
    grid-column-end: 14;
  }
  .mobile_hidden {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .weekly_sale_item {
    grid-column: span 4;
  }

  .sale_nav_li {
    color: white;
    list-style-type: none;
    padding: 10px;
    font-size: 1.2rem;
  }
  .sale_p {
    color: white;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .sale_search {
    width: 100%;
  }
  .white {
    color: white;
  }

}
